.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
playground.R
sgsR.Rproj
DataSSR-fine_scale_spatial_structure.txt
.Rbuildignore
.DS_Store
DataSSR-with_spatial_distance_matrix.txt
F1_Adults_spagedi.txt
bilsaadults.txt
error.txt
out.txt
f16dispersedspagedi.txt
README.Rmd

out_bilsa_adults.txt
man/hello.Rd
man/rcpp_hello.Rd
out_f1_ad.txt
inst/doc
